
@import "room.css";
@import "location.css";

@font-face {
    font-family: baskerville-old-face;
    src: url(../Font/BASKVILL.ttf);
  }

/* @font-face {
    font-family: light;
    src: url(../Font/Freight\ Big\ Pro\ Light.otf);
} */
/* 
@font-face {
    font-family: nimbus-reg;
    src: url(../Font/NimbusSanL-Reg.otf);
} */

/* @font-face {
    font-family: nimbus-light;
    src: url(../Font/Nimbus-Sans-D-OT-Light-Extended_32750.ttf);
} */

*, body {
    margin: 0;
    padding: 0;
    font-family: baskerville-old-face;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}













