/* --------------------------SLIDE 2-------------------------------- */

.slide-content-main2 {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    transition: 450ms;
}
.slide-content-main2.active {
    transform: translateX(11%);
}

.slide-content-main2 .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 0;
}
.slide-content-main2 > div {
  flex: 1;
  height: 100%;
  position: relative;
  text-align: center;
  z-index: 0;
}

.slide-content-main2 .card:before {
    content: '';
    margin: 0 auto;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(37, 37, 37, 0.6);
    z-index: -1;
    transition: 300ms;
}

.slide-content-main2 .card1-title h2{
    color: white;
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: .6rem;
}

.card:nth-child(1) h2 {
    font-size: 3rem;
    margin-bottom: 0;
}

.card:nth-child(1) .card1-title p {
    font-size: 2rem;
}
.card:nth-child(1) .card1-title {
    position: relative;
}
.card:nth-child(1) .card1-title::before {
    content: '';
    position: absolute;
    width: 80% ;
    height: 2px;
    background: #BAA256;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
}

.slide-content-main2 .card1-title p {
    color: #BAA256;
    font-size: 1.4rem;
    font-weight: 400;
}
.card1-main {
    margin: 0 3rem;
    margin-bottom: 2.4rem;
}
.card1-main p {
    color: white;
    font-size: 1.3rem;
    margin: 1.6rem 0;
    font-family: light;
}

.card1-btn a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1rem;
    color: #BAA256;
    display: block;
    padding: .6rem 2.2rem;
    border: 1px solid #BAA256; 
    position: relative;
    z-index: 10;
}

.card1-btn a::before {
    content: '';
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    background: transparent;
    z-index: -1;
}

.card1-btn a:hover::before {
    background: #BAA256;
}
.card1-btn a:hover {
    color: #363636;;
}
.card:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    z-index: -1;
}
.card:nth-child(1) {
    background: #363636;
}
.card:nth-child(2) {
    background: url("../img/slide2/card2.png") no-repeat;
    background-position: center;
    background-size: cover;
}
.card:nth-child(3) {
    background: url("../img/slide2/card3.png") no-repeat;
    background-position: center;
    background-size: cover;
}
.card:nth-child(4) {
    background: url("../img/slide2/card4.png") no-repeat;
    background-position: center;
    background-size: cover;
}
/*-------------------------------- BUTTON STYLE -----------------------------*/

.button__empty {
	background: transparent;
    display: inline-block;
    padding: 11px 40px 12px 40px;
    position: relative;
    text-transform: uppercase;
    color: #b9a155;
    transition: all .3s ease;
}

.button--massage {
	padding: 11px 25px 12px 25px;
}

.button--pool {
	padding: 11px 67px 12px 67px;
}

.button__frame {
	padding: 5px;
	height: auto;
	width: auto;
	display: inline-block;
	border: 1px solid #b9a155;
	cursor: pointer;
}

.button__submit {
	display: inline-block;
    width: 110px;
    padding: 5px;
    color: #b9a155;
    background: transparent;
    height: 32px;
    transition: all .3s ease;
    cursor: pointer;
}

.button__frame:hover .button__submit {
	background: #b9a155;
	color: #201d1a;
}

.button__frame:hover .button__empty {
	color: #201d1a;
	background: #b9a155;
}
