/*---------------------------- home7 ---------------------------------*/

.main--book {
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;
}

.main--book--center {
    height: auto;
    width: 70%;
    background: rgba(32,29,26,.8);
    margin: auto;
    align-items: center;
    box-sizing: border-box;
    padding: 32px 56px;
    color: #fff;
    text-align: center;
}

.main--book--center h1 {
    margin: 0;
    margin-bottom: 32px;
    text-transform: uppercase;
    font-size: 72px;
}

.main--book--center--content {
    display: grid;
    grid-template-columns: 1fr 1fr 1.2fr;
    grid-gap: 0 48px;
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}

.main--book--center--content--calendar p{
    text-align: left;
    border-bottom: 2px solid #b9a155;
    padding-bottom: 4px;
    margin-bottom: 4px;
    color: #b9a155;
}

.main--book--center--content--calendar--weekdays {
    margin-bottom: 8px;
}

.main--book--center--content--calendar--days__end {
    justify-content: flex-end;
}

.main--book--center--content--calendar--days li {
    border: 1px solid #b9a155;
    box-sizing: border-box;
    width: calc(100% / 7);
    padding: 8px 0;
}
.main--book--center--content--calendar--days {
    color: #eae2c5;
}

.main--book--center--content--calendar--days__unavailable {
    color: #9e9b99;
}

.main--book--center--content--form {
    text-align: left;
    color: #b9a155;
}

.main--book--center--content--form--input {
    margin-bottom: 16px;
    border-bottom: 1px solid #b9a155;
    background: rgba(32,29,26,.7);
    color: #9e9b99;
    height: 40px;
    font-family: 'Times New Roman';
    font-size: 1rem;
}
.main--book--center--content--form--input:focus {
    outline: none;
}
.main--book--center--content--form--formcontainer {
    display: flex;
    justify-content: space-between;
}

.main--book--center--content--form--input--half {
    width: 49%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.main--book--center--content--calendar--weekdays li {
    /*flex: 1;*/
    color: #b9a155;
    padding: 8px 0;
    width: calc(100% / 7);
}