@import "home1.css";
@import "home2.css";
@import "home3.css";
@import "home4.css";
@import "home5.css";
@import "home6.css";
@import "home7.css";

/*----------------------------- MAIN--------------------------------- */
main {
  width: 100%;
  height: 100%;
}

.slide-content {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.slide1, .slide2, .slide4, .slide6 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}
.slide1::before, .slide2::before, .slide4::before, .slide6::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.slide1::before{
  background: rgba(0, 0, 0, .6);
}
.slide2::before, .slide4::before, .slide6::before {
    background: rgba(0, 0, 0, .8);
}
.slide1 {
  background-image: url("../img/home/bg1.jpg");
  position: fixed;
  top: 0;
  left: 0;
}
.slide2 {
  background-image: url("../img/home/bg2.png");
  height: 100vh;
}

.slide6 {
    background-image: url("../img/home/bg1.jpg");
  }
  
  .slide7 {
    background-image: url("../img/home/bg6.png");
  }

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}
.pagination {
    position: fixed;
    z-index: 1000;
    right: 10px;
    bottom: 10px;
    color: white;
    font-size: 1.3rem;
}

.pagination .arrow {
    margin: 0 5px;
    cursor: pointer;
}