/*---------------------- MENU--------------------------- */

@font-face {
  font-family: FuturaPT;
  src: url('../Font/FuturaPTLight_0.otf');
}

@font-face {
  font-family: Basker;
  src: url('../Font/BASKERVILLEOLDFACE.TTF');
}


@font-face {
  font-family: GreatVibes;
  src: url('../Font/GreatVibes-Regular.otf');
}
  header {
      position: sticky;
      top: 0;
      z-index: 10000;
  }
  nav {
      width: 100%;
  }
  
  .menu {
      display: flex;
      flex-direction: row;
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;
      font-family: Baskvill;
  }
  
  .menu-item {
      text-align: center;
      height: 80px;
      position: relative;
      cursor: pointer;
  }
  .menu-item:nth-child(7) {
      margin-right: 4.5rem;
  }
  .menu-item:nth-child(1) {
      flex-grow: 2;
  }
  .menu-item:nth-child(8) {
      flex-grow: .6;
  }
  .menu-item:nth-child(2), .menu-item:nth-child(3), .menu-item:nth-child(4), .menu-item:nth-child(5), .menu-item:nth-child(6), .menu-item:nth-child(7) {
      flex: 1 1 0;
  }
  .menu-item:nth-child(2)::before, .menu-item:nth-child(3)::before, .menu-item:nth-child(4)::before, .menu-item:nth-child(5)::before, .menu-item:nth-child(6)::before, .menu-item:nth-child(7)::before {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      min-height: 0px;
      transition: 300ms;
      background: #BAA256;
      bottom: 0;
  }
  
  .menu-item:nth-child(3):hover::before, .menu-item:nth-child(4):hover::before, .menu-item:nth-child(5):hover::before, .menu-item:nth-child(6):hover::before, .menu-item:nth-child(7):hover::before {
      min-height: 4px;
  }
  .menu-item:nth-child(2):active::before, .menu-item:nth-child(3):active::before, .menu-item:nth-child(4):active::before, .menu-item:nth-child(5):active::before, .menu-item:nth-child(6):active::before, .menu-item:nth-child(7):active::before {
      min-height: 4px;
  }
  
  .menu-item:nth-child(2).active::before, .menu-item:nth-child(3).active::before, .menu-item:nth-child(4).active::before, .menu-item:nth-child(5).active::before, .menu-item:nth-child(6).active::before, .menu-item:nth-child(7).active::before {
      min-height: 4px;
  }
  .menu-item:nth-child(2).active .menu-item__link, .menu-item:nth-child(3).active .menu-item__link, .menu-item:nth-child(4).active .menu-item__link, .menu-item:nth-child(5).active .menu-item__link, .menu-item:nth-child(6).active .menu-item__link, .menu-item:nth-child(7).active .menu-item__link {
      color: #BAA256;
  }
  .menu-bar {
      border-bottom: 1px solid #9F9C9A;
      background: #222222d0;
  }
  
  .menu-item:nth-child(1) {
      margin-left:1.5rem;
      position: relative;
  }
  
  .menu-item__link {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1rem;
      color: #9F9C9A;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .menu-item:nth-child(8) .menu-item__link{
      background: #BAA256;
      color: black;
  }
  .menu-item:nth-child(8)::before {
      content: '';
      position: absolute;
      top: 1px;
      right: 1px;
      bottom: 1px;
      left: 1px;
      border: 2px solid black;
  }
  .menu-item__link:hover {
      color: #BAA256;
  }
  
  .menu-dropdown {
      display: flex;
      height: 94px;
      width: 550%;
      position: absolute;
      top: 100%;
      opacity: 0;
      z-index: -10;
      transition: 300ms ease-in-out;
      transform: translateY(-100%);
  }
  .menu-item:nth-child(3) .menu-dropdown {
      left: -71%;
  }
  .menu-item:nth-child(5) .menu-dropdown {
      left: -271%;
  }
  .menu-dropdown-card {
      position: relative;
      cursor: pointer;
      flex: 1;
      overflow: hidden;
      border-bottom: 1px solid white;
      overflow: hidden;
  }
  .menu-dropdown-card:nth-child(1), .menu-dropdown-card:nth-child(3) {
      border-left: 1px solid #535353;
      border-right: 1px solid #535353;
      border-right: 1px solid #535353;
  }
  .menu-dropdown-card::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, .8);
      transition: 200ms;
  }
  .menu-dropdown-card__mark {
      width: 100%;
      height: 100%;
      transition: 300ms;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .menu-dropdown-card__link {
      display: block;
      padding: 8px 10px;
      border: 1px solid #BAA256;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      position: relative;
      color: #BAA256;
      font-size: .9rem;
  }
  .menu-dropdown-card__link::before {
      content: '';
      position: absolute;
      top: 2px;
      right:2px;
      bottom: 2px;
      left: 2px;
      background: transparent;
      z-index: -1;
  }
  
  .menu-dropdown-card:hover .menu-dropdown-card__link::before {
      background: #BAA256;
  }
  .menu-dropdown-card:hover .menu-dropdown-card__link {
      color: white;
  }
  
  .menu-dropdown-card:hover::before {
      opacity: 0;
  }
  
  .menu-item:nth-child(3):hover > .menu-dropdown {
      opacity: 1;
      transform: translateY(0);
  }
  
  .menu-item:nth-child(5):hover > .menu-dropdown {
      opacity: 1;
      transform: translateY(0);
  }
  
  .menu-item:nth-child(3) .menu-dropdown .menu-dropdown-card:nth-child(1) .menu-dropdown-card__mark{
      background: url('../img/header/53daec2edcd5888e145d63e4_ca-sagredo-hotel-venice-venice-italy-106781-1.png') no-repeat;
      background-size: cover;
      background-position: center 90%;
  }
  
  .menu-item:nth-child(3) .menu-dropdown .menu-dropdown-card:nth-child(2) .menu-dropdown-card__mark {
      background: url('../img/header/153-MV-1.png') no-repeat;
      background-size: cover;
      background-position: center 93%;
  }
  
  .menu-item:nth-child(3) .menu-dropdown .menu-dropdown-card:nth-child(3) .menu-dropdown-card__mark {
      background: url('../img/header/1314681.png') no-repeat;
      background-size: cover;
      background-position: center 80%;
  }
  .menu-dropdown-card:hover .menu-dropdown-card__mark {
      transform: scale(1.2);
  }
  
  .menu-item:nth-child(5) .menu-dropdown .menu-dropdown-card:nth-child(1) .menu-dropdown-card__mark{
      background: url('../img/header/Hotel-Chaco-Amenities-HERO.png') no-repeat;
      background-size: cover;
      background-position: center 90%;
  }
  
  .menu-item:nth-child(5) .menu-dropdown .menu-dropdown-card:nth-child(2) .menu-dropdown-card__mark {
      background: url('../img/header/Gym\ 2017.png') no-repeat;
      background-size: cover;
      background-position: center 93%;
  }
  
  .menu-item:nth-child(5) .menu-dropdown .menu-dropdown-card:nth-child(3) .menu-dropdown-card__mark {
      background: url('../img/header/jd-mason-757201-unsplash.png') no-repeat;
      background-size: cover;
      background-position: center 80%;
  }
  .menu-item:nth-child(5) .menu-dropdown .menu-dropdown-card:nth-child(4) .menu-dropdown-card__mark {
      background: url('../img/header/toa-heftiba-578093-unsplash.png') no-repeat;
      background-size: cover;
      background-position: center 48%;
  }
  /* --------------------LOGO----------------- */
  .home {
      width: 324px;
      display: flex;
      flex-direction: column;
      position: absolute;
      background: #363636;
      padding-top: 12px;
      border-left: 2px solid #BAA256;
      border-right: 2px solid #BAA256;
      z-index: 3;
      transition:300ms linear;
  }
  
  .home::before {
      content: '';
      position: absolute;
      border-top: 50px solid #363636;
      border-left: 161px solid transparent;
      border-right: 161px solid transparent;
      bottom: -49px;
      width: 0;
      height: 0;
      z-index: 2;
      transition:300ms linear;
  }
  
  .home::after {
      content: '';
      position: absolute;
      border-top: 53px solid #BAA256;
      border-left: 164px solid transparent;
      border-right: 164px solid transparent;
      bottom: -53px;
      left: -3px;
      width: 0;
      height: 0;
      z-index: 1;
      transition:300ms linear;
  }
  
  .home.active::before {
      border-top: 50px solid white;
  }
  
  .home-sildebar-btn {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .menu-3 {
      position: relative;
      width: 50px;
      height: 50px;
      cursor: pointer;
    }
  
    .menu-3:before {
      content: '';
      position: absolute;
      width: 50%;
      height: 3px;
      background: white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition:300ms;
    }
  
    .menu-3 span {
      position: absolute;
      width: 50%;
      height: 3px;
      background: white;
      transition: 600ms;
    }
  
    .menu-3 span:nth-child(1) {
      top: 30%;
      left: 50%;
      transform: translateX(-50%);
    }
    .menu-3 span:nth-child(2) {
      bottom: 30%;
      left: 50%;
      transform: translateX(-50%);
    }
  
    .menu-3:hover span:nth-child(1) {
      transform: rotate(90deg);
      top: 40%;
      left: 25%;
    }
  
    .menu-3:hover span:nth-child(2) {
      width: 30%;
      transform: rotate(45deg);
      top: 51%;
      left: 23%;
    }
  
    .menu-3:hover:before{
      width: 30%;
      transform: rotate(-225deg);
      top: 51%;
      left: 47%;
    }
  
  .home-explore {
      max-height: 0;
      width: 100%;
      transition: max-height 400ms linear;
      overflow: hidden;
  }
  
  .home.active {
      background: white;
  }
  .home.active .home-sildebar-btn {
      display: none;
  }
  
  .home-explore-close .fas.fa-times {
      color: #535353;
      margin-top: 1rem;
  }
  .home-explore-title {
      margin: 1rem 0 2.2rem;
  }
  .home-explore-title span {
      text-transform: uppercase;
      color: #363636;
  }
  
  .home-explore-lists a {
      display: block;
      font-size: 1.2rem;
      text-decoration: none;
      color: #535353;
      margin: 15px 0;
  }
  .home-explore-lists a:hover {
      text-decoration: underline;
  }
  .home-explore-lists a:nth-child(8) {
      text-decoration: underline;
      text-transform: uppercase;
      padding-bottom: 2rem;
  }
  
  
  @media (max-width: 1695px) {
      .home {
          width: 274px;
      }
  
      .home::before {
          border-top: 50px solid #363636;
          border-left: 135px solid transparent;
          border-right: 138px solid transparent;
      }
  
      .home::after {
          border-top: 53px solid #BAA256;
          border-left: 138px solid transparent;
          border-right: 141px solid transparent;
      }
      .menu-item__link {
          font-size: .9rem;
      }
  }
  
  
  @media (max-width: 1485px) {
      .home {
          width: 208px;
      }
  
      .home::before {
          border-top: 40px solid #363636;
          border-left: 105px solid transparent;
          border-right: 105px solid transparent;
          bottom: -39px;
      }
  
      .home::after {
          border-top: 42px solid #BAA256;
          border-left: 107px solid transparent;
          border-right: 106px solid transparent;
          bottom: -42px;
      }
      .home.active::before {
          border-top: 40px solid white;
      }
      .menu-item__link {
          font-size: .8rem;
      }
  }
  
  @media (max-width: 1136px) {
      .menu-item__link {
          font-size: .7rem;
      }
  }
  
/**************** BANNER *******************/
.banner {
    background-image: url("../img/TourInHanoi/the-beekman-lobby-richard-barnes.jpg.1200x800_q85_crop.png");
    position: relative;
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -377px
  }
  
  .banner img {
    width: 100%;
    background-size: auto;
    background-position-y: -150px;
  }
  
  .banner .overlay {
    position: absolute;
    content: '';
    background-color: #000;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    top: 0;
  
  }
  
  .banner-text {
    font-family: GreatVibes;
    font-size: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: 500;
  }
  
  .banner--navigator {
    position: absolute;
    content: '';
    top: 90%;
    right: 2%;
    background-color: transparent;
    color: #fff;
    font-size: 14px;
  }
  
  .banner--navigator .home--link {
   color: #fff;
   text-decoration: none;
  }
  
  .banner--navigator .home--link:hover {
    text-decoration: underline;
  }
  
  .banner--navigator .location--link {
    color: #BBA256;
    text-decoration: none;
  }
  
  
  .banner--navigator .location--link:hover {
    text-decoration: underline;
  }
  
  
  .banner--navigator span {
    color: #BAA256;
  }
  
  .banner--navigator i {
    font-size: 10px;
  }
  
  
  /****************** END BANNER *******************/




  /***************FOOTER**********************/

  @font-face {
    font-family: FuturaPT;
    src: url('../Font/FuturaPTLight_0.otf');
}

@font-face {
    font-family: Basker;
    src: url('../Font/BASKERVILLEOLDFACE.TTF');
}


@font-face {
    font-family: GreatVibes;
    src: url('../Font/GreatVibes-Regular.otf');
}
  
  .button__frame {
	padding: 5px;
	height: auto;
	width: auto;
	display: inline-block;
	border: 1px solid #b9a155;
	cursor: pointer;
  }
  
  
  .button__empty {
	background: transparent;
	  display: inline-block;
	  /*margin: 5px;*/
	  padding: 11px 40px 12px 40px;
	  position: relative;
	  /*border: 1px solid #b9a155;*/
	  text-transform: uppercase;
	  color: #b9a155;
	  transition: all .3s ease;
  
  }
  
  
  .button__frame:hover .button__empty {
	color: #201d1a;
	background: #b9a155;
  }
  
  .main--footer--content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 112px;
  }
  
  .main--footer--content--list, .main--footer--content--follow--about {
	list-style-type: none;
	display: flex;
	flex-direction: column;
  }
  
  .main--footer--content--list li, .main--footer--content--follow--about li {
	width: auto;
	line-height: 24px;
  
  }
  .main--footer--content--about--info, .main--footer--content--follow--followus  {
	margin-bottom: 16px;
  }
  
  .main--footer--content--signup--wrapper {
	position: relative;
	height: 100%;
  }
  
  .main--footer--content--signup a {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #b9a155;
	text-decoration: underline;
	font-family: Basker;
  }
  
  .main--footer--wrapper h2, .main--footer--wrapper h3 {
	margin: 0;
	margin-bottom: 16px;
	color: #b9a155;
	font-family: Basker;
	text-transform: uppercase;
  }
  
  .main--footer--wrapper h2 {
	font-size: 2rem;
  }
  
  .main--footer--content--about, .main--footer--content--signup, .main--footer--content--follow {
	padding: 32px 0;
  }
  
  .main--footer--content--signupemail--label {
	margin-bottom: 16px;
  }
  .main--footer--content--signupemail--input {
	margin-bottom: 16px;
	background: #201d1a;
	color: #fff;
	width: 100%;
	border: none;
	height: 30px;
	box-sizing: border-box;
	padding: 5px;
  }
  
  .main--footer--content--follow--followus li:first-child {
	display: flex;
	align-items: flex-end;
	margin-right: 32px;
	font-family: FuturaPT;
	font-weight: 600;
  }
  .main--footer--content--follow--followus li {
	margin-right: 16px;
	color: #b9a155;
  }
  
  .main--footer--content--follow--followus {
	font-size: 24px;
  }
  
  .main--footer--wrapper {
	background: #494441;
	padding: 0 56px;
  }
  
  .main--footer--content--list a, .main--footer--content--follow--about a, label, .main--footer p {
	color: #fff;
	font-family: FuturaPT;
  }
  
  .main--footer p {
	line-height: 24px;
  }
  
  .main--footer--content--list li:first-child, .main--footer--content--list li:last-child {
	text-transform: uppercase;
  }
  /* .main--footer--content--signupemail--input {
  
  } */
  
  .main--footer--content--list a:hover, .main--footer--content--follow--about a:hover {
	color: #b9a155;
  }
  
  .main--footer--content--follow--wrapper {
	position: relative;
	height: 100%;
  }
  .main--footer--content--follow--totop {
	display: inline-block;
	padding: 16px;
	color: #b9a155;
	border-right: 1px solid #b9a155;
	border-left: 1px solid #b9a155;
	border-bottom: 1px solid #b9a155;
	padding: 8px 12px 16px 12px;
	position: relative;
  
  }
  .main--footer--content--follow--totop--wrapper {
	position: absolute;
	right: 0;
	bottom: 0;
  }
  .main--footer--content--follow--totop::before {
	  content: '';
	  position: absolute;
	  border-right: 17px solid transparent;
	  border-left: 17px solid transparent;
	  border-bottom: 18px solid #b9a155;
	  left: -1px;
	  top: -18px;
  }
  
  .main--footer--content--follow--totop::after {
	content: '';
	  position: absolute;
	  border-right: 16px solid transparent;
	  border-left: 16px solid transparent;
	  border-bottom: 18px solid #494441;
	  left: 0px;
	  top: -18px;
  }
  .main--footer--content--follow--award {
	line-height: 0;
	display: inline-block;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	overflow: hidden;
	background: url(/img/TRIP1.png);
	background-size: cover;
	background-position: center;
	margin-bottom: 16px;
	background-color: #fff;
  }
  
  .main--footer--content--follow--award img {
	width: 100%;
	height: 100%;
  }
  
  .main--footer p {
	margin: 0;
  }
  .main--footer ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
  }
  .main--footer--content--list a, .main--footer--content--follow--about a {
	text-decoration: none;
  }
  
  ul[class="main--footer--content--follow--followus"] {
	display: flex;
	margin-bottom: 16px;
  }
  /* .main--footer--content--follow--followus li {
	
  } */
  
  .main--footer a {
	transition: all .3s ease;
  }
  .main--footer label {
	display: block;
  }
  .main--footer--content--follow--followus a {
	color: #b9a155;
  }



/***************************************************CONTENT************************************************/ 

  *, body {
    margin: 0;
    padding: 0;
    font-family: Basker;
    box-sizing: border-box;
  }
  
  
  @font-face {
    font-family: GreatVibes;
    src: url(../Font/GreatVibes-Regular.otf);
  }
  
  /****************** CONTENT *******************/
  .content {
    width: 100%;
    height: auto;
    background-color: #222222;
    text-align: center;
    display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  }

  
  /**********************COL-LEFT *********************/
  
  .content .col-left {
    -ms-flex: 33.33%; /* IE10 */
    flex: 33.33%;
  }
  .content .col-middle {
    -ms-flex: 33.33%; /* IE10 */
    flex: 33.33%;
 
  }
  .content .col-right {
    -ms-flex: 33.33%; /* IE10 */
    flex: 33.33%;

  }

  .testimonial {
    margin-top: 30px;
    margin-bottom: 30px;

    padding :35px;
    text-align: center;
    transition: 0.4s;
    
  }
  
  .testimonial .profile--creator {
    transition: 0.4s;
  }
  
  /*.testimonial:hover {
    box-shadow: 0 0 1px 1px #BBA256;
  }
  */
  .testimonial:hover .profile--creator {
    border: 1px solid #BBA256;
  }
  
  .testimonial h1 {
    font-size: 28px;
    font-family:  FuturaPT;
    color: #fff;
    /* margin-bottom: 10px; hà sửa */
  }
  
  .testimonial .title p {
    font-family: GreatVibes;
    color: #BBA256;
    font-size: 18px;
    padding-bottom: 6px;
  }
  
  .testimonial hr {
    height: 1px;
    width: 35%;
    margin-left: 32%;
    margin-bottom: 40px;
    background-color: #BBA256;
    border: none;
  }
  
  .testimonial .card img {
    margin-top: 35px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      border-radius: 50%;
  }
  
  .testimonial .profile_info-image {
    position: relative;
  }
  
  .testimonial .profile_info-image::before {
    position: absolute;
    top: 80%;
    left: 60%;
    content: "''";
    width: 9%;
    height: 18%;
    border-radius: 50%;
    background-color: #BBA256;
    font-size: 3rem;
    color: #fff;
    text-align: center;
  }
  
  .testimonial .card h3{
    margin-top: 10px;
    font-size: 18px;
    color: white;
  }
  
  .profile_info {
    padding: 10px 10px 0px 10px;
    height: 140px;
    color: black;
    font-family:FuturaPT;
    font-size: 18px;
    position: relative;
    background: #f1f1f1;
  }
  
  .profile_info:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #f1f1f1;
    border-width: 20px;
    margin-left: -7%;
  }
  
  .profile_info p {
    text-align: left
  }
  
  .card {
    position: relative;
  }
  
 
  .card {
    position: relative;
  }
  .pagination {
      background-color: #222222;
    text-align: center;
    padding-bottom: 56px;
  }
  
  .pagination .dir--btn__ {
    width: 20px;
    height: 20px;
    background-color: #BBA256;
    border: none;
    -webkit-clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
    clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
    color: #fff;
    cursor: pointer;
  }
  
  .pagination .dir--btn__pre {
    -webkit-clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
    clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
  }
  
  .pagination .dir--btn__next {
    -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  }
  
  .pagination .dir--btn__pre i {
    transform: rotate(-90deg);
  }
  
  .pagination .dir--btn__next i {
    transform: rotate(90deg);
  }
  
  .pagination__text {
    display: inline;
    color: #fff;
    padding: 0 5px;
  }
  
  
