
@import "location.css";

@font-face {
	font-family: baskerville-old-face;
	src: url(../Font/BASKVILL.ttf);
}

/* @font-face {
	font-family: light;
	src: url(../Font/Freight\ Big\ Pro\ Light.otf);
} */
